<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/App/CSS/Style.css">
    <title>Instagram</title>

    <!-- Favicon - Logo Instagram(aba) -->
    <link rel="shortcut icon" href="/App/Image/Instagramfavicon.ico" type="image/x-icon">
    <link rel="icon" href="/App/Image/Instagramfavicon.ico" type="image/x-icon">
</head>

<body>
    <div class="instagram-wrapper">
        <div class="instagram-phone">
            <img src="/App/Image/instagram-celular.png" style="width: 100%; height: 100%;" alt="celular">
        </div>
        <div class="instagram-continue">
            <div class="group">
                <img src="/App/Image/instagram-logo.png" class="instagram-logo" alt="instagram logo">
                <div class="profile-photo">
                    <img src="/App/Image/perfil-instagram.png" alt="foto de perfil">
                </div>
                <a href="#" class="instagram-login">Continue como PedroLustosa</a>
                <a href="#" class="instagram-logout">Remover Conta</a>
            </div>
            <div class="group">
                <p class="not-account">Não é PedroLustosa ?</p>
                <p class="not-account">
                    <span class="link-blue">Alternar conta</span>
                    ou
                    <span class="link-blue">Increva-se</span>
                </p>
            </div>
            <div class="get-the-app">
                <p class="get-app">Baixe o Aplicativo</p>
                <div class="download">
                    <a href="#" class="app-download"></a>
                    <a href="#" class="app-download"></a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>